@model IEnumerable<AulaDeASPNet.Models.Produto>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_NossoLayout.cshtml";
}


<p>
    <h1 class="display-4 align-content-center">Produtos </h1>
    <a class="btn btn-dark" asp-action="CadastroProduto">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VidaUtil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preços)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VidaUtil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preços)
            </td>
            <td>
                <a class="bnt bnt-primary"> asp-action="Edit" asp-route-id="Edit" @item.Id">Edit</a> |
                <a asp-action="DetalhesProdutos" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
